
@{
    ViewData["Title"] = "Index";
}
    <div>
       
        <div class="container p-15 justify-content-center" style="background-color:dimgrey">
            <div class="form-group row">
                <div class="col-8 offset-4 row">

                    <div class="col text-white">
                        <h1>Dashboard</h1>
                    </div>

                </div>
            </div>

            <div class="container mb-5">
                <div class="row justify-content-center bg-light">
                    <a style="margin:15px" asp-action="employeePerfomance" class="btn btn-outline-secondary btn-block btn-lg">View Employee Perfomance</a>
                    <a style="margin:15px" asp-action="employeePersonalinfor" class="btn btn-outline-secondary btn-block btn-lg">View Employee Pesonal information</a>
                    <a style="margin:15px" asp-action="employeeBasicinfo" class="btn btn-outline-secondary btn-block btn-lg">View Employee Basic information</a>
                    <a style="margin:15px" asp-action="employeeWorkInfo" class="btn btn-outline-secondary btn-block btn-lg">View Employee Work information</a>
                    <a style="margin:15px" asp-action="employeeDepartments" class="btn btn-outline-secondary btn-block btn-lg">View Employee Departments And Education</a>

                </div>
            </div>

        </div>
    </div>
