@model Dimensions_Data.Models.PerfomanceAndRate
@{
    ViewData["Title"] = "AddEmployeePerfomance";
}

<h1>Add Employee Perfomance Record</h1>
<form method="post">

    <div class="border p-3">
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeNumber" class="form-control" />
                        <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MonthlyIncome"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MonthlyIncome" class="form-control" />
                        <span asp-validation-for="MonthlyIncome" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MonthlyRate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MonthlyRate" class="form-control" />
                        <span asp-validation-for="MonthlyRate" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="NumCompaniesWorked"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NumCompaniesWorked" class="form-control" />
                        <span asp-validation-for="NumCompaniesWorked" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="OverTime"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="OverTime" class="form-control summernote"></textarea>
                        <span asp-validation-for="OverTime" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PercentSalaryHike"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="PercentSalaryHike" class="form-control summernote"></textarea>
                        <span asp-validation-for="PercentSalaryHike" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PerformanceRating"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="PerformanceRating" class="form-control summernote"></textarea>
                        <span asp-validation-for="PerformanceRating" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RelationshipSatisfaction"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="RelationshipSatisfaction" class="form-control summernote"></textarea>
                        <span asp-validation-for="RelationshipSatisfaction" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">


                            <input type="submit" class="btn btn-info w-100" value="Add" />



                        </div>
                        <div class="col">
                            <a asp-action="employeePerfomance" asp-controller="Dashboard" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
