@model Dimensions_Data.Models.DepartmentsAndEducation
@{
    ViewData["Title"] = "DeleteDepartmentsAndEducation";
}

<h1>Delete Employee Department And Education Record</h1>
<form method="post" asp-action="DeleteDepartmentsAndEducation">
    @if (Model.EmployeeNumber != 0)
    {
        <input asp-for="EmployeeNumber" hidden />
    }
    <div class="border p-3">
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Department"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Education"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Education" class="form-control" />
                        <span asp-validation-for="Education" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EducationField"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EducationField" class="form-control" />
                        <span asp-validation-for="EducationField" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeCount"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="EmployeeCount" class="form-control summernote"></textarea>
                        <span asp-validation-for="EmployeeCount" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="JobInvolvement"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="JobInvolvement" class="form-control summernote"></textarea>
                        <span asp-validation-for="JobInvolvement" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="JobLevel"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="JobLevel" class="form-control summernote"></textarea>
                        <span asp-validation-for="JobLevel" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="JobRole"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="JobRole" class="form-control summernote"></textarea>
                        <span asp-validation-for="JobRole" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="JobSatisfaction"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="JobSatisfaction" class="form-control summernote"></textarea>
                        <span asp-validation-for="JobSatisfaction" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.EmployeeNumber != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-danger w-100" value="Delete" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="employeeDepartments" asp-controller="Dashboard" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

